Now we are here to learn with direct experience of the syntax of pandas library in python.

In [6]:
import pandas as pd
import numpy as np

Pandas has a method `pd.date_range("",periods)` which creates a range of date indexes

In [5]:
dates = pd.date_range("20251201",periods=31)
dates

DatetimeIndex(['2025-12-01', '2025-12-02', '2025-12-03', '2025-12-04',
               '2025-12-05', '2025-12-06', '2025-12-07', '2025-12-08',
               '2025-12-09', '2025-12-10', '2025-12-11', '2025-12-12',
               '2025-12-13', '2025-12-14', '2025-12-15', '2025-12-16',
               '2025-12-17', '2025-12-18', '2025-12-19', '2025-12-20',
               '2025-12-21', '2025-12-22', '2025-12-23', '2025-12-24',
               '2025-12-25', '2025-12-26', '2025-12-27', '2025-12-28',
               '2025-12-29', '2025-12-30', '2025-12-31'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(31,5),index=dates,columns=list("ABCDE"))
df

                   A         B         C         D         E
2025-12-01 -0.366143 -0.117308 -0.305606 -0.637720  0.739210
2025-12-02 -0.124901  1.414287  0.162688  2.874514  0.654753
2025-12-03 -0.458805  0.650454  0.660754  0.390336 -0.903449
2025-12-04  0.449361 -0.123592 -0.789518 -1.571655  1.362780
2025-12-05 -1.425957  1.631480  0.337034 -1.852659  0.210832
2025-12-06 -0.411278  1.263178  0.071008 -0.784716 -1.031792
2025-12-07 -0.080863  1.417727  1.843166 -1.109082 -0.839928
2025-12-08 -1.333711 -0.493653 -1.275144  0.575866 -2.003169
2025-12-09 -0.345709  0.444389  1.263127  1.569416 -0.410544
2025-12-10  0.835927  0.965887  0.453231 -1.631047 -0.219382
2025-12-11 -1.250456  1.326300 -0.980678  0.640401 -0.515175
2025-12-12 -0.174278  0.422621 -0.769765 -0.503767  0.875838
2025-12-13 -0.232588  1.501438 -1.798442 -0.321462  0.755417
2025-12-14  0.369949  0.603277 -0.353978 -0.064165 -0.496005
2025-12-15  0.658656 -0.334474 -0.038483 -0.310660  0.404302
2025-12-16 -0.013926 -1.349165 -2.004543  0.271927 -1.011717
2025-12-17  0.596066 -0.565604  0.324623  0.378973  2.417787
2025-12-18  0.148457  0.823936 -0.414755  1.048909 -0.361102
2025-12-19  1.460829 -0.414984 -0.514456 -0.124284  1.319823
2025-12-20 -0.185286 -1.154331 -0.336746 -0.394099 -0.829786
2025-12-21  0.109637 -0.560170 -1.135214 -0.439377 -0.806059
2025-12-22  0.003619  1.009071 -0.484812 -0.869970 -0.020114
2025-12-23  1.532130 -0.601421  0.108332 -0.124914 -2.361839
2025-12-24  0.826977 -0.503170 -0.125747 -0.992254 -0.475290
2025-12-25 -0.135956 -0.834936  0.527128  0.184136  0.219740
2025-12-26  0.862230  1.902732 -0.797161 -0.122991 -0.681810
2025-12-27  0.700179 -0.179800  0.131794 -1.896487  1.015399
2025-12-28  0.006381 -0.637393  0.990599 -0.088618  2.232102
2025-12-29 -1.647728  0.691539  1.411051  0.342955 -0.798411
2025-12-30  0.515275 -1.493251 -0.540989  0.906696 -1.029088
2025-12-31  0.959497  0.423448  1.263713  0.514161  0.771952

In [10]:
df['A'].array

<NumpyExtensionArray>
[  np.float64(-0.3661425037474063),  np.float64(-0.12490111495555759),
  np.float64(-0.45880500982735073),   np.float64(0.44936120330697504),
   np.float64(-1.4259574476506793),   np.float64(-0.4112781045982885),
  np.float64(-0.08086251635251529),   np.float64(-1.3337113066995865),
   np.float64(-0.3457088478408964),     np.float64(0.835926835496318),
   np.float64(-1.2504560961923123),  np.float64(-0.17427840070444994),
  np.float64(-0.23258753761220913),    np.float64(0.3699494994942692),
    np.float64(0.6586555362464279), np.float64(-0.013926370358923763),
    np.float64(0.5960658298075748),   np.float64(0.14845738800232336),
    np.float64(1.4608291850160378),  np.float64(-0.18528624059126303),
   np.float64(0.10963675351184446), np.float64(0.0036185191480741976),
    np.float64(1.5321302028557662),    np.float64(0.8269774344176818),
  np.float64(-0.13595579029874935),    np.float64(0.8622299709743324),
    np.float64(0.7001788599991272),   np.float64(0.00638134991848015),
   np.float64(-1.6477275062385606),    np.float64(0.5152754252352802),
    np.float64(0.9594974837477023)]
Length: 31, dtype: float64

In [11]:
df.to_numpy()

array([[-0.3661425 , -0.11730773, -0.30560601, -0.63771965,  0.73921046],
       [-0.12490111,  1.41428667,  0.16268804,  2.87451411,  0.65475293],
       [-0.45880501,  0.65045398,  0.66075433,  0.39033558, -0.90344941],
       [ 0.4493612 , -0.12359154, -0.78951802, -1.57165497,  1.36277977],
       [-1.42595745,  1.6314799 ,  0.33703431, -1.85265919,  0.21083161],
       [-0.4112781 ,  1.26317755,  0.07100824, -0.7847164 , -1.03179159],
       [-0.08086252,  1.4177269 ,  1.84316596, -1.10908186, -0.83992802],
       [-1.33371131, -0.49365252, -1.27514362,  0.57586571, -2.0031689 ],
       [-0.34570885,  0.44438903,  1.2631272 ,  1.56941554, -0.41054356],
       [ 0.83592684,  0.96588658,  0.45323069, -1.63104723, -0.21938195],
       [-1.2504561 ,  1.32630039, -0.98067778,  0.64040086, -0.51517531],
       [-0.1742784 ,  0.42262137, -0.76976549, -0.50376673,  0.87583758],
       [-0.23258754,  1.50143799, -1.79844152, -0.32146218,  0.755417  ],
       [ 0.3699495 ,  0.60327692, -0.3539785 , -0.06416509, -0.49600523],
       [ 0.65865554, -0.33447395, -0.03848315, -0.31065961,  0.40430175],
       [-0.01392637, -1.34916542, -2.00454287,  0.27192651, -1.0117172 ],
       [ 0.59606583, -0.56560431,  0.32462306,  0.37897348,  2.41778654],
       [ 0.14845739,  0.82393649, -0.41475523,  1.04890861, -0.36110219],
       [ 1.46082919, -0.4149836 , -0.51445554, -0.12428423,  1.31982316],
       [-0.18528624, -1.15433106, -0.33674641, -0.39409915, -0.82978575],
       [ 0.10963675, -0.56017024, -1.13521412, -0.43937702, -0.80605858],
       [ 0.00361852,  1.00907101, -0.48481246, -0.86997027, -0.02011356],
       [ 1.5321302 , -0.60142067,  0.10833242, -0.12491389, -2.3618386 ],
       [ 0.82697743, -0.50316999, -0.12574675, -0.99225395, -0.47529046],
       [-0.13595579, -0.83493611,  0.52712777,  0.18413579,  0.21974033],
       [ 0.86222997,  1.90273171, -0.79716086, -0.12299079, -0.68180958],
       [ 0.70017886, -0.17979998,  0.13179372, -1.89648651,  1.01539886],
       [ 0.00638135, -0.63739256,  0.99059929, -0.0886185 ,  2.23210153],
       [-1.64772751,  0.69153903,  1.41105061,  0.34295492, -0.79841071],
       [ 0.51527543, -1.49325114, -0.54098941,  0.90669553, -1.02908846],
       [ 0.95949748,  0.42344825,  1.26371288,  0.51416067,  0.77195234]])

In [12]:
df.A + df.A

2025-12-01   -0.732285
2025-12-02   -0.249802
2025-12-03   -0.917610
2025-12-04    0.898722
2025-12-05   -2.851915
2025-12-06   -0.822556
2025-12-07   -0.161725
2025-12-08   -2.667423
2025-12-09   -0.691418
2025-12-10    1.671854
2025-12-11   -2.500912
2025-12-12   -0.348557
2025-12-13   -0.465175
2025-12-14    0.739899
2025-12-15    1.317311
2025-12-16   -0.027853
2025-12-17    1.192132
2025-12-18    0.296915
2025-12-19    2.921658
2025-12-20   -0.370572
2025-12-21    0.219274
2025-12-22    0.007237
2025-12-23    3.064260
2025-12-24    1.653955
2025-12-25   -0.271912
2025-12-26    1.724460
2025-12-27    1.400358
2025-12-28    0.012763
2025-12-29   -3.295455
2025-12-30    1.030551
2025-12-31    1.918995
Freq: D, Name: A, dtype: float64

In [13]:
df.A*2

2025-12-01   -0.732285
2025-12-02   -0.249802
2025-12-03   -0.917610
2025-12-04    0.898722
2025-12-05   -2.851915
2025-12-06   -0.822556
2025-12-07   -0.161725
2025-12-08   -2.667423
2025-12-09   -0.691418
2025-12-10    1.671854
2025-12-11   -2.500912
2025-12-12   -0.348557
2025-12-13   -0.465175
2025-12-14    0.739899
2025-12-15    1.317311
2025-12-16   -0.027853
2025-12-17    1.192132
2025-12-18    0.296915
2025-12-19    2.921658
2025-12-20   -0.370572
2025-12-21    0.219274
2025-12-22    0.007237
2025-12-23    3.064260
2025-12-24    1.653955
2025-12-25   -0.271912
2025-12-26    1.724460
2025-12-27    1.400358
2025-12-28    0.012763
2025-12-29   -3.295455
2025-12-30    1.030551
2025-12-31    1.918995
Freq: D, Name: A, dtype: float64

In [15]:
np.exp(df.A)

2025-12-01    0.693404
2025-12-02    0.882584
2025-12-03    0.632038
2025-12-04    1.567311
2025-12-05    0.240278
2025-12-06    0.662803
2025-12-07    0.922320
2025-12-08    0.263498
2025-12-09    0.707719
2025-12-10    2.306951
2025-12-11    0.286374
2025-12-12    0.840063
2025-12-13    0.792480
2025-12-14    1.447662
2025-12-15    1.932193
2025-12-16    0.986170
2025-12-17    1.814964
2025-12-18    1.160043
2025-12-19    4.309531
2025-12-20    0.830866
2025-12-21    1.115873
2025-12-22    1.003625
2025-12-23    4.628025
2025-12-24    2.286397
2025-12-25    0.872881
2025-12-26    2.368436
2025-12-27    2.014113
2025-12-28    1.006402
2025-12-29    0.192487
2025-12-30    1.674100
2025-12-31    2.610384
Freq: D, Name: A, dtype: float64

In [17]:
df.A[1:]+df.A[:-1]

2025-12-01         NaN
2025-12-02   -0.249802
2025-12-03   -0.917610
2025-12-04    0.898722
2025-12-05   -2.851915
2025-12-06   -0.822556
2025-12-07   -0.161725
2025-12-08   -2.667423
2025-12-09   -0.691418
2025-12-10    1.671854
2025-12-11   -2.500912
2025-12-12   -0.348557
2025-12-13   -0.465175
2025-12-14    0.739899
2025-12-15    1.317311
2025-12-16   -0.027853
2025-12-17    1.192132
2025-12-18    0.296915
2025-12-19    2.921658
2025-12-20   -0.370572
2025-12-21    0.219274
2025-12-22    0.007237
2025-12-23    3.064260
2025-12-24    1.653955
2025-12-25   -0.271912
2025-12-26    1.724460
2025-12-27    1.400358
2025-12-28    0.012763
2025-12-29   -3.295455
2025-12-30    1.030551
2025-12-31         NaN
Freq: D, Name: A, dtype: float64

In [21]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0,5], index=["a", "b", "c", "d","e"]),
}
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
e  NaN  5.0

In [22]:
pd.DataFrame(d,index=list("dba"))

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [26]:
pd.DataFrame(d,index=list("dba"),columns=["two","three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [27]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [28]:
df.columns

Index(['one', 'two'], dtype='object')

In [31]:
d = {"one": [1.0, 2.0, 3.0,4.0], "two": [4.0, 3.0, 2.0, 1.0]}

pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [32]:
pd.DataFrame(
    {
        ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
        ("a", "a"): {("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"): {("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"): {("A", "C"): 7, ("A", "B"): 8},
        ("b", "b"): {("A", "D"): 9, ("A", "B"): 10},
    }
)

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

In [35]:
from collections import namedtuple
Point = namedtuple("Point", "x y")
Point3d = namedtuple("Point", "x y Z")
pd.DataFrame([Point3d(0,1, 0), Point(0, 3), (2, 3)])

   x  y    Z
0  0  1  0.0
1  0  3  NaN
2  2  3  NaN

In [36]:
from dataclasses import make_dataclass
Point = make_dataclass("Point", [("x", int), ("y", int)])
pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])

   x  y
0  0  0
1  0  3
2  2  3

In [3]:
tips_df = pd.read_csv('../datasets/tips.csv')
tips_df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]