In [1]:
import pandas as pd
import numpy as np

In [32]:
df_h19 = pd.read_csv('../datasets/archive/2016.csv')
df_h19

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,NaN,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596
...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812
153,Afghanistan,Southern Asia,154,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
154,Togo,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,NaN
155,Syria,Middle East and Northern Africa,156,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789
156,Burundi,Sub-Saharan Africa,157,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404

In [33]:
df_h19.describe()

,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,157.000000,157.000000,155.000000,154.00000,154.000000,152.000000,155.000000,154.000000,157.000000,156.000000,156.000000
mean,78.980892,5.382185,5.288303,5.49361,0.955800,0.793897,0.557249,0.372655,0.137624,0.241429,2.327027
std,45.466030,1.141674,1.153843,1.14067,0.413538,0.267420,0.228388,0.143769,0.111038,0.133327,0.543750
min,1.000000,2.905000,2.732000,3.07800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.817890
25%,40.000000,4.404000,4.324500,4.51775,0.672785,0.640780,0.390855,0.263598,0.061260,0.153455,2.023325
50%,79.000000,5.314000,5.295000,5.45100,1.025980,0.844625,0.596590,0.397625,0.105470,0.222235,2.293125
75%,118.000000,6.269000,6.166000,6.43475,1.279707,1.021562,0.725880,0.483805,0.175540,0.310223,2.666335
max,157.000000,7.526000,7.460000,7.66900,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710,3.837720

In [34]:
df_h19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      155 non-null    float64
 5   Upper Confidence Interval      154 non-null    float64
 6   Economy (GDP per Capita)       154 non-null    float64
 7   Family                         152 non-null    float64
 8   Health (Life Expectancy)       155 non-null    float64
 9   Freedom                        154 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     156 non-null    float64
 12  Dystopia Residual              156 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [35]:
df_h19.isna().any()

Country                          False
Region                           False
Happiness Rank                   False
Happiness Score                  False
Lower Confidence Interval         True
Upper Confidence Interval         True
Economy (GDP per Capita)          True
Family                            True
Health (Life Expectancy)          True
Freedom                           True
Trust (Government Corruption)    False
Generosity                        True
Dystopia Residual                 True
dtype: bool

In [36]:
df_h19.isnull().any()

Country                          False
Region                           False
Happiness Rank                   False
Happiness Score                  False
Lower Confidence Interval         True
Upper Confidence Interval         True
Economy (GDP per Capita)          True
Family                            True
Health (Life Expectancy)          True
Freedom                           True
Trust (Government Corruption)    False
Generosity                        True
Dystopia Residual                 True
dtype: bool

In [37]:
df_h19.notna().all()

Country                           True
Region                            True
Happiness Rank                    True
Happiness Score                   True
Lower Confidence Interval        False
Upper Confidence Interval        False
Economy (GDP per Capita)         False
Family                           False
Health (Life Expectancy)         False
Freedom                          False
Trust (Government Corruption)     True
Generosity                       False
Dystopia Residual                False
dtype: bool

In [38]:
df_h19.notnull().all()

Country                           True
Region                            True
Happiness Rank                    True
Happiness Score                   True
Lower Confidence Interval        False
Upper Confidence Interval        False
Economy (GDP per Capita)         False
Family                           False
Health (Life Expectancy)         False
Freedom                          False
Trust (Government Corruption)     True
Generosity                       False
Dystopia Residual                False
dtype: bool

In [39]:
df_h19.isna().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        2
Upper Confidence Interval        3
Economy (GDP per Capita)         3
Family                           5
Health (Life Expectancy)         2
Freedom                          3
Trust (Government Corruption)    0
Generosity                       1
Dystopia Residual                1
dtype: int64

In [44]:
df_h19.dropna().isna().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [43]:
df_h19.isna().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        2
Upper Confidence Interval        3
Economy (GDP per Capita)         3
Family                           5
Health (Life Expectancy)         2
Freedom                          3
Trust (Government Corruption)    0
Generosity                       1
Dystopia Residual                1
dtype: int64