In [1]:
import pandas as pd

In [4]:
de_premier21 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2122/E0.csv')

In [5]:
de_premier21

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [8]:
de_premier21.rename(columns={'FTHG':'home_goals',
                             'FTAG':'away_goals'},inplace=True)

In [9]:
de_premier21

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [3]:
root = 'https://www.football-data.co.uk/mmz4281/'

In [13]:
leagues = ['E0','E1','E2','E3','EC']
frames = []

for league in leagues:
   df = pd.read_csv(root+'2122'+'/'+league+'.csv',encoding='unicode_escape')
   frames.append(df)

In [14]:
len(frames)

5

In [19]:
frames[2]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E2,07/08/2021,15:00,Bolton,Milton Keynes Dons,3,3,D,1,1,...,1.97,-0.25,1.90,1.95,1.91,1.97,1.99,2.01,1.90,1.92
1,E2,07/08/2021,15:00,Cambridge,Oxford,1,1,D,0,1,...,1.86,0.25,2.08,1.73,2.12,1.78,2.12,1.82,2.06,1.77
2,E2,07/08/2021,15:00,Crewe,Cheltenham,1,1,D,1,1,...,1.69,-0.25,2.00,1.85,1.99,1.90,2.04,1.95,1.96,1.87
3,E2,07/08/2021,15:00,Doncaster,AFC Wimbledon,1,2,A,0,0,...,1.88,-0.25,2.10,1.77,2.11,1.80,2.12,1.82,2.07,1.77
4,E2,07/08/2021,15:00,Fleetwood Town,Portsmouth,0,1,A,0,0,...,1.60,0.00,2.05,1.80,2.09,1.82,2.13,1.86,2.07,1.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,30/04/2022,12:30,Morecambe,Sunderland,0,1,A,0,1,...,2.09,0.75,2.05,1.80,2.05,1.84,2.09,1.86,2.02,1.81
548,E2,30/04/2022,12:30,Oxford,Doncaster,1,1,D,1,0,...,3.05,-1.50,1.90,1.95,1.96,1.93,2.00,1.99,1.92,1.88
549,E2,30/04/2022,12:30,Plymouth,Milton Keynes Dons,0,5,A,0,3,...,1.94,0.25,1.83,2.02,1.81,2.09,1.88,2.09,1.81,2.02
550,E2,30/04/2022,12:30,Sheffield Weds,Portsmouth,4,1,H,3,1,...,2.04,-1.00,1.73,2.15,1.76,2.14,1.90,2.21,1.77,2.07
551,E2,30/04/2022,12:30,Shrewsbury,Wigan,0,3,A,0,1,...,1.73,0.50,1.95,1.90,1.97,1.92,2.02,1.94,1.94,1.87

In [20]:
leagues = ['E0','E2','E3']
frames = []

for league in leagues:
   for season in range(15,21):
        df = pd.read_csv(root+f'{season}{season+1}'+'/'+league+'.csv')
        df.insert(1,'season',season)
        frames.append(df)

In [21]:
len(frames)

18

In [22]:
frames[0]

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,15,08/08/2015,Bournemouth,Aston Villa,0,1,A,0,0,...,1.79,26,-0.50,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,15,08/08/2015,Chelsea,Swansea,2,2,D,2,1,...,1.99,27,-1.50,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,15,08/08/2015,Everton,Watford,2,2,D,0,1,...,1.96,26,-1.00,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,15,08/08/2015,Leicester,Sunderland,4,2,H,3,0,...,1.67,26,-0.50,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,15,08/08/2015,Man United,Tottenham,1,0,H,1,0,...,2.01,26,-1.00,2.20,2.09,1.82,1.78,1.64,4.07,6.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,15,15/05/2016,Stoke,West Ham,2,1,H,0,1,...,2.27,30,0.25,2.11,2.03,1.87,1.83,3.05,4.00,2.26
376,E0,15,15/05/2016,Swansea,Man City,1,1,D,1,1,...,2.45,31,1.00,2.14,2.05,1.85,1.81,7.05,5.00,1.47
377,E0,15,15/05/2016,Watford,Sunderland,2,2,D,0,1,...,2.10,29,-0.50,2.06,2.01,1.91,1.85,1.64,4.52,5.27
378,E0,15,15/05/2016,West Brom,Liverpool,1,1,D,1,1,...,2.09,30,-0.25,2.10,2.05,1.86,1.81,2.61,3.75,2.70
379,E0,15,17/05/2016,Man United,Bournemouth,3,1,H,1,0,...,2.20,29,-0.75,1.88,1.84,2.08,2.02,1.50,4.60,7.03

In [23]:
frames[4]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,19,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,19,10/08/2019,12:30,West Ham,Man City,0,5,A,0,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,19,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,19,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,19,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,19,26/07/2020,16:00,Leicester,Man United,0,2,A,0,...,2.03,0.50,1.89,2.01,1.88,2.05,1.94,2.05,1.86,2.02
376,E0,19,26/07/2020,16:00,Man City,Norwich,5,0,H,2,...,5.77,-3.75,2.03,1.87,2.01,1.88,2.06,1.88,2.02,1.84
377,E0,19,26/07/2020,16:00,Newcastle,Liverpool,1,3,A,1,...,2.40,1.00,1.94,1.96,1.95,1.97,2.03,2.00,1.95,1.92
378,E0,19,26/07/2020,16:00,Southampton,Sheffield United,3,1,H,0,...,2.01,-0.50,1.97,1.93,2.00,1.93,2.03,1.96,1.98,1.89
379,E0,19,26/07/2020,16:00,West Ham,Aston Villa,1,1,D,0,...,2.03,0.00,1.93,1.97,1.95,1.98,1.99,2.00,1.93,1.95

In [24]:
frames[15]

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E3,18,04/08/2018,Bury,Yeovil,1,0,H,0,0,...,1.84,17,-0.50,1.87,1.82,2.07,1.99,1.82,3.78,4.59
1,E3,18,04/08/2018,Cheltenham,Crawley Town,0,1,A,0,0,...,1.85,18,-0.25,1.73,1.68,2.23,2.16,2.22,3.32,3.55
2,E3,18,04/08/2018,Crewe,Morecambe,6,0,H,2,0,...,1.81,17,-0.50,1.97,1.91,1.95,1.89,2.02,3.47,4.02
3,E3,18,04/08/2018,Exeter,Carlisle,3,1,H,2,1,...,1.81,16,-0.50,2.26,2.18,1.71,1.67,2.31,3.37,3.31
4,E3,18,04/08/2018,Grimsby,Forest Green,1,4,A,1,0,...,1.74,19,-0.25,2.05,1.97,1.89,1.83,2.42,3.33,3.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,18,04/05/2019,Morecambe,Newport County,1,1,D,1,0,...,1.83,17,0.50,1.88,1.81,2.08,2.01,3.94,3.78,1.94
548,E3,18,04/05/2019,Oldham,Northampton,2,5,A,1,3,...,2.04,17,-0.25,1.92,1.86,2.03,1.96,2.56,3.58,2.77
549,E3,18,04/05/2019,Stevenage,Cheltenham,2,0,H,0,0,...,1.89,18,-0.75,2.11,2.04,1.87,1.79,1.83,3.83,4.39
550,E3,18,04/05/2019,Swindon,Notts County,3,1,H,0,0,...,1.93,17,-0.25,2.15,2.06,1.84,1.78,2.41,3.74,2.86
551,E3,18,04/05/2019,Yeovil,Carlisle,0,0,D,0,0,...,1.72,18,0.50,2.02,1.95,1.95,1.87,4.07,3.53,1.98

In [4]:
dict_seasons = {
    'England Premier League': 'E0',
    'England Championship': 'E1',
    'England League One': 'E2',
    'England League Two': 'E3',
    'England Conference': 'EC'
}
dict_dataFrames = {}

for league,code in dict_seasons.items():
    temp_frames = []
    for season in range(15,22):
        df = pd.read_csv(root+f'{season}{season+1}'+'/'+code+'.csv',encoding='unicode_escape')
        df.insert(1,'season',season)
        temp_frames.append(df)
    dict_dataFrames[league] = pd.concat(temp_frames,ignore_index=True)

In [5]:
dict_dataFrames['England League One']

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E2,15,08/08/15,Burton,Scunthorpe,2.0,1.0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E2,15,08/08/15,Chesterfield,Barnsley,3.0,1.0,H,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E2,15,08/08/15,Colchester,Blackpool,2.0,2.0,D,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E2,15,08/08/15,Coventry,Wigan,2.0,0.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E2,15,08/08/15,Crewe,Port Vale,0.0,0.0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3708,E2,21,30/04/2022,Morecambe,Sunderland,0.0,1.0,A,0.0,1.0,...,2.09,0.75,2.05,1.80,2.05,1.84,2.09,1.86,2.02,1.81
3709,E2,21,30/04/2022,Oxford,Doncaster,1.0,1.0,D,1.0,0.0,...,3.05,-1.50,1.90,1.95,1.96,1.93,2.00,1.99,1.92,1.88
3710,E2,21,30/04/2022,Plymouth,Milton Keynes Dons,0.0,5.0,A,0.0,3.0,...,1.94,0.25,1.83,2.02,1.81,2.09,1.88,2.09,1.81,2.02
3711,E2,21,30/04/2022,Sheffield Weds,Portsmouth,4.0,1.0,H,3.0,1.0,...,2.04,-1.00,1.73,2.15,1.76,2.14,1.90,2.21,1.77,2.07
3712,E2,21,30/04/2022,Shrewsbury,Wigan,0.0,3.0,A,0.0,1.0,...,1.73,0.50,1.95,1.90,1.97,1.92,2.02,1.94,1.94,1.87